/* *** */
body{
	background: #808080;
	color: #ffffff;
	margin: 0;
	text-align: center;
}

.container{
	background: #EBC369;
	height: 896px;
	position: relative;
	width: 414px;
}

/* TEXT */
h1{
	font-size: 25px;
	margin: 0;
}
h2{}

p{
	font-size: 15px;
}
a{
	color: #ffffff;
	cursor: pointer;
	text-decoration: none;
}

/* HEADER */
header{
	align-items: center;
	display: flex;
	height: 150px;
	justify-content: center;
}
header img{
	height: 75px;
	width: auto;
}

/* RUNDE CIRKLER */
.rundecirkler{
	align-items: center;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.rundroed{
	background: #C31414;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	height: 250px;
	justify-content: center;
	width: 250px;
}
.rundgroen{
	align-items: center;
	background: #AFCD88;
	border-radius: 50%;
	display: flex;
	height: 100px;
	justify-content: center;
	left: 60%;
	position: absolute;
	top: 75%;
	width: 100px;
}
.rundecirkler a{
	align-items: center;
	display: flex;
	justify-content: center;
}
.rundecirkler img{
	height: 100px;
	width: auto;
}

/* QR-ICON */
.qrscanicontext{
	align-items: center;
	bottom: 150px;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
}
.qrscanicon{
	background: #AFCD88;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.qrscanicontext img{
	height: 100px;
	width: 100px;
}

/* SIDENAVIGATION */
.sidenavigation{
	align-items: center;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	height: 80px;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}

.sidenavigation img{
	height: 50px;
	padding: 0 25px;
	width: auto;
}

/* NAVIGRATION (footer) */
nav{
	align-items: center;
	background: #ffffff;
	bottom: 0;
	display: flex;
	height: 80px;
	justify-content: space-around;
	position: absolute;
	width: 100%;
}
nav img{
	height: 50px;
	width: auto;
}

/* INDEX.html */
#forside{
	background-image: url("img/forside.jpg");
	background-position: center;
	background-size: cover;
}

/* OVERSIGT.html */
.silhouetter{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.silhouetter img{
	height: 150px;
	margin: 25px 0;
	width: auto;
}

/* FIGURSIDER */
.figurquiz{}
.figurquiz img{
	height: 150px;
	width: auto;
}
.figurligemed{
	align-items: center;
	display: flex;
	height: 150px;
	justify-content: space-around;
}
.symbol{
	font-size: 150px;
}
.quizsvar{
	box-sizing: border-box;
	margin: 75px 0;
}
.quizvalgmuligheder{
	align-items: center;
	display: flex;
	height: 150px;
	justify-content: space-around;
}
