/* *** */
body{
	margin: 0;
	font-family: 'coop';
	text-align: center;
}

section{
	padding: 30px;
}

/* TEXT */
h1{
	font-size: 30px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 15px;
}
p{
	font-size: 10px;
}

/* FARVER */
.farver{
	background: red;
}
.farvetyper{
	display: flex;
	width: 100%;
}

.primeare, .sekundeare, .tints1, .tints2, .status{
	display: flex;
	flex-direction: column;
	height: 350px;
	width: 500px;
	margin: 10px;
	background: green;
}
.status{
	height: 510px;
	width: 250px;
}
.farvecirkler{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.circle{
	border-radius: 50%;
	height: 75px;
	margin: 10px;
	width: 75px;
}

/* FONTS */
.font{
	background: green;
}

/* GRAFISKE ELEMENTER */
.grafiskeelementer{
	background: blue;
}

/* IKONER */
.ikoner{
	background: yellow;
}

/* LOGO */
.logo{
	background: orange;
}
